@import url(./../../fonts/font.css);

.accordion{
    background-color: #f4f4fc;
    height: auto;
    padding-bottom: 4rem;
}

.main{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sub-main{
    margin-right: 4rem;
    width: 50%;
    padding: 2rem;
    
}

h1{
    font-size: 2rem;
}

.main p{
    font-family: "gilroyLight";
    font-size: 20px;
}

.collapse{
    padding-top: 1rem;
}