@import url(./../../fonts/font.css);

.accordion{
    background-color: #f4f4fc;
    height: auto;
}

.main{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sub-main{
    margin-right: 4rem;
    width: 50%;
    padding: 2rem;
    
}

.sub-main h1{
    font-family: "monumentRegular";
}

.main p{
    font-family: "gilroyLight";
}