@import url(./../../fonts/font.css);

.banner{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 8rem;
}
.left{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     width: 50%;
     margin-right: 4rem;
     text-align: left;
}
.left h1{
    font-family: "monumentUltraBold";
    font-size: 3rem;
}
.left p{
    font-family: 'gilroyLight';
}
.banner-carousel{
    /* float: right; */
    width: 30vw;
    height: auto;
}
.logo{
    margin: 1rem;
}
