*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
}

.banner-event{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}
.container{
    height: 140vh;
    padding-right: 4rem;
}

.landing-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -10rem;
}

.text{
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding-left: 8rem;
}

/* sidebar event landing */
.sidenav {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F8F9FA;
    overflow-x: hidden;
    padding-top: 20px;
  }

.event-banner-with-carousel{
    display: grid;
}
.banner-txt{
    float: left;
    width: 50%;
    text-align: left;
}

.text{   
    font-size: 1rem;
    margin: auto;
    padding:0px;
}

.banner-carousel{
    float: right;
    width: 50%;
}

.main{
    margin-left: 125px;
    padding: 0px 10px;
}