*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

.banner-event{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}
.container{
    height: 140vh;
    padding-right: 4rem;
}

.landing-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -10rem;
}

.text{
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding-left: 8rem;
}

/* sidebar event landing */
.sidenav {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F8F9FA;
    overflow-x: hidden;
    padding-top: 20px;
  }

.event-banner-with-carousel{
    /* display: grid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 4rem;
}
.banner-txt{
    /* float: left; */
    text-align: left;
    font-size: 1rem;
    margin: auto;
    padding:0px;
    float: left;
}

.banner-carousel{
    /* float: right; */
    width: 40vw;
    float: right;
}

.main{
    margin-left: 125px;
    padding: 0px 10px;
}

/* cards ongoing page */

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: .5rem;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}