  .footer{
    height: 20rem;
    background-color: #191919;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .main{
    width: 60%;
    margin: auto;
    padding: 1rem 0rem;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

  }
  .sub-main{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .icons a{
    margin-right: 1rem;
  }
